@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Roboto:wght@400;500;700&display=swap');
* {
    padding:0;
    margin:0;
   /* box-sizing: border-box; */
   font-family: inter;
}

nav{
    height: 100px;
    display: flex;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 24px;
}

ul{
    display: flex;
}


.container {
position: relative;
}

html {
    scroll-behavior: smooth;
}
img {
    width: 100%;
}
body {
    max-width: 100vw;
    overflow-x: hidden;
}

.purple {
    color: #7342d6;
}
.row{
width: 100%;
max-width: 1200px;
margin: 0 auto;
}
/* Nav */

nav {
    height: 100px;
    display: flex;
    
}
.nav__container{
display: flex;
width: 100%;

    
    max-width: 1200px;
    width: 100%;
    padding: 0px 24px;
    display: flex;
    justify-content: space-between;
    line-height: 24px;
    font-family: 'inter';
    font-weight: 500; 
}

.logo__container{
    display: flex;
    -moz-box-align: center;
    align-items: center;
    font-weight: 900;
    border-bottom-width: 0px;
    font-size: 1.5rem !important;
    margin-left: 0px !important;
    font-family: 'inter';
    text-decoration: none;
    font-size: 24px;
    color: rgb(36, 62, 99);
}
.logo__img {
    width: 2.5rem;
    margin-right: 0.75rem;
}
.nav__links {
    list-style: none;
    text-decoration: none;
    

}
.nav__link {
color: rgb(36, 62, 99);
list-style: none;
text-decoration: none;
margin: 0 24px ;
font-size: 14px;
line-height: 21px;
font-weight: 600;
padding-bottom: 4px;
letter-spacing: 0.35px
}
.nav__link--light {
margin-left: 48px;
margin-right: 24px;
}
.nav__link--primary {
    background-color: rgb(100, 21, 255);
    border-radius: 9999px;
    border-style: solid;
    color: rgb(247, 250, 252);
    padding: 12px 32px;
}

/* Landing */ 

#landing {

}

.two__column {
    display: flex; 
    flex-direction: row;
    align-items: center;
    padding: 96px 0;
    margin: 0 279.5px ;
}

.left {
position: relative;
margin: 0 auto;
text-align: left;
display: flex;
flex-direction: column;
width: 40%;
}
.left__heading {
font-size: 48px !important;
font-weight: 700;
line-height: 60px;
color: rgb(26, 32, 44);
}
.left__para {
    color: rgb(36, 62, 99);
    font-size: 18px !important;
    line-height: 27px;
    margin: 32px 0;
}
.left__action {
line-height: 24px;
font-size: 16px;
font-weight: 500;
max-width: 448px;
position: relative;
display: flex;
text-align: center;
border-color: rgb(229, 231, 235);
border-radius: 9999px;
}
.btn {
    background-color: rgb(100, 21, 255);
    border-radius: 9999px;
    border-style: solid;
    color: rgb(247, 250, 252);
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    margin-left: 0;
    margin-right: -20px;
    margin-top: 6px;
    padding: 16px 0;
    width: 160px;
}
.absolute__righttop {
    position: absolute;
    right: 0px;
    top: 0px;
}
.input {
    text-align: start;
    width: 448px;
   border-radius: 9999px;
   border-width: 2px;
   border-style: solid;
   border-color: rgb(229, 231, 235);
   font-size: 16px;
   font-weight: 500;
   line-height: 24px;
   margin: 0;
   padding: 20px 192px 20px 32px;
   
   

}

.customer__logo {
    border-bottom-color: rgb(229, 231, 235);
    border-style: solid;
    border-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    color: rgb(36, 62, 99);
    font-family: inter;
    line-height: 24px;
    margin-top: 80px;
    text-align: left;
    
}

.customer__para {
    color: rgb(160, 174, 192);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6px;
    line-height: 18px;
    margin: 0;
    text-align: left;
    text-transform: uppercase;
}
.customer__img {
 display: block;
 height: 32.3667px;
margin-top:16px ;
max-width: 100%;
opacity: 0.5;
padding-right: 128px;
vertical-align: middle;
height: 33.6px;
    width: 533.333px;
}

.right {
align-self: flex-end;
border-image-repeat: stretch;
display:flex;
flex-basis: 0%;
flex-direction: column;
flex-grow: 1;
flex-shrink: 1;
justify-content: center;
position: relative;
width: 60%;
}
.img__container--right {
    display: flex;
align-items: center;
justify-content: flex-end;


}
.right__img {
height: auto;
max-width: 768px;
min-width: 0px;
display: block;
width: 768px;

}

/* FEATURES */ 

#features

.container {

}
.three__column--container {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
   justify-content: center; 
   max-width: 1024 /* could be 1200 */ ;
   padding-top: 96px;
   margin-left: 407.5px ;
   margin-right: 407.5px;
}
.three__subheading{
}

.three__column--textcontainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
   justify-content: center; 
   font-size: 40px;
   color: rgb(36, 62, 99);
   font-family: inter;
   font-weight: 900;

}
.three__column {
    display: flex;
    flex-direction: row;
   flex-wrap: wrap;
   justify-content: center; 
   max-width: 1024 /* could be 1200 */ ;
   padding: 96px 0;

} 

.three__subtitle{
color: rgb(100, 21, 255);
font-size:16px; !important
line-height: 24px;
font-weight: 700;
margin-bottom: 16px;
letter-spacing: 1.6px;
text-transform: uppercase;
}

.three__heading {
    color: rgb(36, 62, 99);
    font-size: 48px !important;
    font-weight: 900;
    letter-spacing: 1.2px;
    line-height: 72px;
    margin: 0;
    text-align:center;
    width: 1024px;
}

.three__description {
    font-size: 18px;
    font-weight: 500;
    line-height: 29.25px;
    margin: 16px 0 0 0;
    max-width: 576px;
    width: 576px;
    text-align: center !important;
    color: rgb(124, 139, 161);
}
.three__serperation {

} 
.three__column--column {
    color: rgb(36, 62, 99);
    line-height: 24px;
    max-width: 384px;
    width:341.333px ;
}
.column__card {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    height
    line-height: 24px;
    text-align: left;
    margin-left: 16px;
    margin-right: 16px;
    padding: 32px 8px;
}

.img__container{
    padding: 20px;
    text-align: center;
    border-radius: 9999px;
    border: solid;
    border-width: 1px;
    line-height: 24px;
    border-color: rgb(229, 231, 235);
}
.img__three {
    height: 24px;
    width: 24px;
    vertical-align: middle;

    display: block;
}

.text__container {
    line-height: 24px;
    margin-left: 16px;
    margin-top: 8px;
    text-align: left;
}
.title {
    color: rgb(36, 62, 99);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.6px;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 16px !important;
    text-align: left;
}

.three__description {
    color: rgb(124, 139, 161);
    font-weight: 500;
    line-height: 32px;
    margin-top: 16px;
    text-align: left;
}

/* Benefits / Features section part 2 */

.twocolwithbutton__container {
    position: relative;
    color: rgb(36, 62, 99);
    display: flex;
    align-items: center;
    justify-content: center;
}
.twocolwithbutton__twocolumn {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 90.5px;
    margin-left: 90.5px;
    max-width: 1280px;
    padding-bottom: 96px;
    padding-top: 96px;
}
.twocolwithbutton__imgcolumn {
    max-width: none;
    width: 640px;
    position: relative;
    flex-shrink: 0;

}
.twocolwithbutton__img {
    border-color: rgb(229, 231, 235);
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
    display: block;
    height: auto;
    max-width: 100%;
    
}

.twocolwithbutton__textcontent {
    margin-right: 64px;
    order: -9999;
    max-width: 576px;
}

.twocolwithbutton__textwords {
    padding: 32px 0;
    text-align: left;
}
.twocolwithbutton__subheading {
    color: rgb(100, 21, 255);
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}
.subheading__buttoncol{
    letter-spacing: 1.6px;
    text-transform: uppercase;
    line-height: 24px;
}
.twocolwithbutton__heading{
    color: rgb(36, 62, 99);
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 1.2px;
    line-height: 60px;
    margin-top: 16px;
    tab-size: 4;
}

.twocolwithbutton__description {
    color: rgb(124, 139, 161);
    font-size: 18px;
    font-weight: 500;
    line-height: 29.25px;
    margin-top: 16px; 

}
.twocolwithbutton__button {
    font-size: 14p;
    font-weight: 700;
    line-height: 21px;
    margin-top: 32px;
    padding: 12px 32px;
    text-decoration-line: none;
    position: relative;


}

/* STEPS */

.twocolumnsteps__container {
    position: relative;

} 
.twocolumnsteps__column {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    align-items: center;
    flex-direction: row;
}
.twocolumnsteps__imgcolumn { 
    max-width: none;
    width: 640px;
    position: relative;
    flex-shrink: 0;
}
.twocolwithsteps__image {
    width: 100% ;
    height: auto;
    display: block;
    vertical-align: middle;

}
.twocolwithsteps__textcol {
    margin-left: 64px;
    width: 576px;
    max-width: none;
}
.twocolwithsteps__text{
    padding: 32px 0;
    text-align: left;
    color: rgb(36, 62, 99);
}
.steps__subheading {
font-size: 16px;
font-weight: 700;
margin: 0;
line-height: 24px;
}
.steps__heading {
font-size: 48px;
font-weight: 900;
letter-spacing: 1.2px;
line-height: 60px;
margin-top: 16px;
text-align: left;
}
.twocolwithsteps__steps /* ul */ {
line-height: 24px;
list-style-image: none;
list-style-position: outside;
list-style-type:none ;
margin-top: 48px;
padding: 0;
flex-direction: column;
}
.twocolwithsteps__step /* li */ 
{ display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 32px;
    text-align: left;

}
.twocolwithsteps__number {
    color: rgb(203, 213, 224);
    font-size: 36px;
    font-weight: 600;
    line-height: 36px;
}
.twocolwithsteps__steptext {
margin-left: 24px;
margin-top: 0;
}
.stepheading {
font-size: 20px;
font-weight: 600;
line-height: 20px;
}
.stepdescription {
    color: rgb(113, 128, 150);
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    margin-top: 12px;
    max-width: 320px;
}

/* twocolwithtwohor section gaming */
#twocoltwohor {
    color: rgb(36, 62, 99);
    line-height: 24px;
}
.twocolwithtwohor__container {
    position: relative;
}
.twocolwithtwohor__twocolumn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    max-width: 1280px;
    margin: 0 auto;
    padding: 96px 0; 
}
.twocolwithhor__imagecolumn {
    width: 50%;
    flex-shrink: 0;
    position: relative;
    max-width: none;
    margin-left: 0;
    margin-right: 0;
    /* width: 640px; */
}
.twocolwithtwohor__image {
    max-width: 100%;
    display: block;
    vertical-align: middle;
    height: auto;
}
.twocolwithtwohor__textcolumn {
    width: 50%;
    margin-right: 64px;
    max-width: none;
    order: -9999;
    /* width: 576px; */
}
.twocolwithtwohor__textcontent {
    padding: 32px 0;
    text-align: left;

}
.twocolwithtwohor__subheading {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    text-align: left;

}
.twocolwithtwohor__heading {
    color: rgb(36, 62, 99);
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 1.2px;
    line-height: 60px;
    margin-top: 16px;?
    text-align: left;
}
.twocolwithtwohor__description {
    color: rgb(124, 139, 161);
    font-size: 18px;
    font-weight: 500;
    height: 29.25px;
    margin-top: 32px;
    text-align: left;
}
.twocolwithtwohor__featuresandbutton--feature {
    display: flex;
    flex-direction: row;
    max-width: none;
    margin-left: 0;
    margin-right: 0;
}
.twocolwithtwohor__feature {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 32px 32px 0 0;
}
.twocolwithtwohor__featureheading--container {
    display: flex;
    align-items: center;
    color: rgb(36, 62, 99);
}
.twocolwithtwohor__featureicon{
background-color: rgb(154, 230, 180);
border-radius: 999px;
border-style: solid;
color: rgb(39, 103, 73);
flex-shrink: 0;
margin-right: auto;
padding: 8px;
text-align: center;
border-width: 0;
line-height: 24px;
display: inline-block;
}
.twocolwithtwohor__featureheading {
    text-align: left;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-left: 12px;
    color: rgb(36, 62, 99);
}
.twocolwithtwohor__featuredescription {
    color: rgb(113, 128, 150);
    line-height: 26px;
    margin-top: 16px;
    text-align: left;
    
}
.twocolwithtwohor__feature
.twocolwithtwohor__featureheading--container
.twocolwithtwohor__featureicon
.twocolwithtwohor__featureheading
.twocolwithtwohor__featuredescription
.twocolwithtwohor__featuredescription
.twocolwithtwohor__PrimaryButton
